<div class="footeris">
  <div class="container">
    <div class="row">
      <div class="footerpage">
        <div class="footerpage__right">
          <a href="#">dsvwvwvewewwe</a>
          <a href="#">dsvwvwvewewwe</a>
          <a href="#">dsvwvwvewewwe</a>
          <a href="#">dsvwvwvewewwe</a>
          <a href="#">dsvwvwvewewwe</a>
        </div>
        <div class="footerpage__center">
          <a href="#">dsvwvwvewewwe</a>
          <a href="#">dsvwvwvewewwe</a>
          <a href="#">dsvwvwvewewwe</a>
          <a href="#">dsvwvwvewewwe</a>

        </div>
        <div class="footerpage__left">
          <a href="#">dsvwvwvewewwe</a>
          <a href="#">dsvwvwvewewwe</a>
          <a href="#">dsvwvwvewewwe</a>
          <a href="#">dsvwvwvewewwe</a>

        </div>


      </div>
    </div>
  </div>

</div>
