<div class="navbaras">

  <!-- <div class="button-left-burgeris">
  <button type="button" name="button"></button>
  </div> -->

  <div class="navbaras__center">


        <!-- <ul class="navbar-center__link">
          <a class="navbar-logo" href="#">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="#logo"></use>
                </svg>
                <span>Logo</span>
              </a>
        </ul> -->


    <ul class="navbaras__lists">
      <li> <a href="#">Shop All</a>
        </li>



    </ul>
    <ul class="navbaras__lists">

      <li> <a href="#">Women</a>
        </li>



    </ul>
    <ul class="navbaras__lists">

      <li> <a href="#">Men</a>
      </li>



    </ul>
    <ul class="navbar__lists">

      <li> <a href="#">  Sale</a>
      </li>


    </ul>
    <ul class="navbaras-lists">

      <li> <a href="#">About</a>
        </li>


    </ul>
    <ul class="navbaras-lists">

      <li> <a href="#">Contact</a>
        </li>


    </ul>


  </div>
  <!-- <div class="button-right-burgeris">
<button type="button" name="button"></button>
  </div> -->

</div>
