<div class="navbaras">


  <div class="navbaras__left">
    <li> <a href="#"> <h4>NOUS</h4> </a>
      </li>

  </div>
  <div class="navbaras__center">



    <ul class="navbaras__lists">

      <!-- <div class="button-left-burgeris">
      <button type="button" name="button"></button>
      </div> -->
      <li> <a href="#">Shop All</a>
        </li>



    </ul>
    <ul class="navbaras__lists">

      <li> <a href="#">Women</a>
        </li>



    </ul>
    <ul class="navbaras__lists">

      <li> <a href="#">Men</a>
      </li>



    </ul>
    <ul class="navbar__lists">

      <li> <a href="#">  Sale</a>
      </li>


    </ul>
    <ul class="navbaras-lists">

      <li> <a href="#">About</a>
        </li>


    </ul>
    <ul class="navbaras-lists">

      <li> <a href="#">Contact</a>
        </li>


    </ul>


  </div>
  <a href="#">  <svg class="svg-icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use>
              </svg>
            </a>


</div>
