<div class="navbar">
  <div class="navbar__center">


        <!-- <ul class="navbar-center__link">
          <a class="navbar-logo" href="#">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="#logo"></use>
                </svg>
                <span>Logo</span>
              </a>
        </ul> -->


    <ul class="navbar-lists">
      <li>Shop All</li>



    </ul>
    <ul class="navbar-lists">

      <li>Men</li>



    </ul>
    <ul class="navbar-lists">

      <li>Sale</li>



    </ul>
    <ul class="navbar-lists">

      <li>About</li>


    </ul>

  </div>
</div>
