.dashboardas{
margin: 50px;
z-index: 1;

  &__title{
    margin: 56px;
    height: 204px;
    color: white;
    border: 2px solid black;
    text-align: -webkit-center;

    background: #ff6600;
        &--btns{
          .btn1{
            top: 48px;
            margin-right: 60px;
            padding: 9px;
            text-decoration: none;
            border: 2px solid black;
            color: white;
            position: relative;
            &::before{
		           -webkit-transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		           transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		            content: '';
		            width: 30%;
		            height: 100%;
		            background: black;
		            position: absolute;
		            top: 0;
		            left: 0;
	                           }
              & .btn-text{
		              color: white;
		              mix-blend-mode: difference;
                  }
              &:hover{
                &::before{
                  background: black;
                  width: 100%;
                    }
          }
          // .btn1:hover{
          //   background-color: yellow;
          // }


            }

  }
  &--picture{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
        margin: 38px;

        .clotnes{
          margin-right: 46px;
          border: 2px solid black;
          }
          .clotnes:hover {
            -webkit-box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
                    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
          }

}
.arrivalstext{
h1 {
  text-align: center;
}
}


    &__arrivals{

  .texts{
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;}
}

  &--pictures{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;


      &__firstrow {
        .content {
      // position: absolute;
      bottom: 0;
      background: rgb(0, 0, 0); /* Fallback color */
      background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
      color: red;
      width: 100px;
      padding: 20px;

          }
        }

      }

  }
&__arrivalstext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
  }
