.dashboardas{
margin: 50px;

  &__title{
    height: 204px;
    color: white;
    border: 2px solid black;
    text-align: -webkit-center;

    background: #ff6600;
        &--btns{
          .btn1{
            padding: 9px;
            text-decoration: none;
            border: 2px solid black;
            color: white;
            position: relative;
            &::before{
		           -webkit-transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		           transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		            content: '';
		            width: 30%;
		            height: 100%;
		            background: black;
		            position: absolute;
		            top: 0;
		            left: 0;
	                           }
              & .btn-text{
		              color: white;
		              mix-blend-mode: difference;
                  }
              &:hover{
                &::before{
                  background: black;
                  width: 100%;
                    }
          }
          // .btn1:hover{
          //   background-color: yellow;
          // }


            }
  }
  &--picture{
        margin: 10px;
  }




}
}
