<div class="dashboardas">
<div class="container">
  <div class="row">
    <div class="dashboardas__title">
      <h1>FREE SHIPPING</h1>
      <h3>ON ORDERS OVER $50 - USE COUPON CODE OVER50</h3>
      <div class="dashboardas__title--btns">

        <a class="btn1" href="#"> <span class="btn-text">Shop Women</span>
          </a>
        <a class="btn1" href="#"> <span class="btn-text">Shop Man</span>
          </a>
        <a class="btn1" href="#"> <span class="btn-text">Shop Sale</span>
          </a>

        </div>







    </div>
    <div class="dashboardas__title--picture">

      <img src="../web/assets/imagines/clotnes1.jpg" alt="">
      <img src="../web/assets/imagines/clotnes1.jpg" alt="">
      <img src="../web/assets/imagines/clotnes1.jpg" alt="">
      <img src="" alt="">
        <img src="" alt="">

    </div>

    <div class="dashboardas__arrivals">
      <h1>NEW </h1>
      <h1>ARRIVALS</h1>

<div class="dashboardas__arrivals--pictures">



</div>




    </div>
  </div>



</div>



</div>
