.navbaras {
  z-index: 999;
  top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: yellowgreen;
  &__center{
        padding-left: 28%;
    text-align: -webkit-center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    &__lists{



    }
    li {
      list-style: none;
      color: black;

      a {
        text-decoration: none;
      }
    }
  }
.svg-icon{
  fill: green;
}
  }
